.table thead th {
  vertical-align: middle;
}

.table td,
.table th {
  vertical-align: middle;
}

.deleteItem {
  cursor: pointer;
}

.completed {
  color: lime;
}
.notCompleted {
  color: #ec3e3e;
}

.nav-sort {
  margin-left: auto;
  margin-right: 0px;
}

.pointer{
  cursor: pointer;
}